body {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin: 5rem;

    #body-content {
        height: 90%;

        .section-content {
            height: 100%;
        }
    }
}

a {
    text-decoration: none;
    color: #4D4D4D;
}

html {
    scroll-behavior: smooth;
}

#header {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    height: 10%;

    .header-button-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-button {
        font-family: Archivo Black;
        font-size: 20.024px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: none;
        border: none;
    }

    #header-center {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        color: #000;
        text-align: center;
        font-family: Days One;
        font-size: 27.168px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5.705px;
        word-spacing:9999px;
    }
}

#about-me {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15rem;

    .text-content {
        color: #4D4D4D;
        text-align: justify;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    img {
        width: 100%;
    }
    
    .header-content, .skill-header-content {
        color: #000;
        font-family: Barlow;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 8rem;
    }
    .text-bullet-point {
        color: #4D4D4D;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 1.5rem;
    }
    .header-bullet-point {
        color: #4D4D4D;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 1.5rem;
    }
    #about-me-text {
        padding: 0rem 0rem 4rem 0rem;
    }
    .list-content li {
        color: #000;
        font-family: Sometype Mono;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .skill-header-content {
        color: #000;
        font-family: Sometype Mono;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

