body {
    padding: 0rem;
    margin: 0rem;
    height: 100vh;

    #body-content {
        padding: 3rem;
    }
}

#header {
    padding: 2rem 0rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    height: 10vh;

    #header-center {
        display: flex;
        justify-content: center;
    }
}

#about-me {
    display: flex;

    .text-content {
        color: #4D4D4D;
        text-align: justify;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .header-content {
        color: #000;

        font-family: Barlow;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .text-bullet-point {
        color: #4D4D4D;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .header-bullet-point {
        color: #4D4D4D;
        font-family: Barlow;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    #about-me-text {
        padding: 0rem 0rem 4rem 0rem;
    }
}